* {
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #ffffff;
    padding: 0px;
    margin: 0px;
    border: 0px;
    clear: both;
}
html::-webkit-scrollbar{
    -webkit-appearance: none;
    display: none;
}
body {
    background: url("/img/background.jpg") no-repeat; 
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-color: #181A1B;
    height: 100%;
    background-size: 100%;
}

.navbar {
    background-color: #000000;
    border-radius: 50px;
    border: 1px solid;
    position: fixed;
    display: flex;
    height: 64px;
    margin: 8px;
}

.itemMenu {
    border-right: 1px solid;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    padding: 23px;
}

.itemMenu:nth-child(4) {
    border-right: 0px none;
}

.itemMenu:hover {
    background-color: #dddddd;
    color: #000000;
}

.iconbar {
    background-color: #000000;
    border-radius: 50px;
    text-align: center;
    border: 1px solid;
    float: right;
    width: 138px;
    margin: 8px;
}

.logo {
    border-radius: 50%;
    width: 64px;
}

#test {
    height: 4800px;
}