/*! estilos css Main menu !*/




.background-main{
    background: url("./../img/background.jpg") no-repeat;
    background-color: #181A1B;
    height: 100vh;
    width: 100vw;
    background-size: 100%;
    text-align: center;
}

.iconbar {
    background-color: #000000;
    border-radius: 50px;
    text-align: center;
    border: 1px solid;
    float: right;
    width: 138px;
    margin: 8px;
}

.logo {
    border-radius: 50%;
    width: 64px;
}